// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all {
  margin: 0 auto;
  width: 1000px;
}
.boundaries{
	background: #B0E0E6; 
    padding: 5px;
    border-radius: 8px;
    text-align: center;
  }
 .all_products{
	display: inline-block;
	height: auto;
	padding: 15px;
	margin-bottom: 14px;
	vertical-align: top;
	width: 380px;

		
		.title{
			font-weight: bolder;
			font-size: 30px;
			margin-bottom: 14px;
			text-align: center;
		}

		.description{
			font-size: 15px;
			margin-bottom: 14px;
		}


		.price{
			padding: 10px;
			margin-bottom: 14px;
			font-size: 15px;
			float: left;
		}
		
		.stock{
			padding: 10px;
			margin-bottom: 14px;
			font-size: 15px;
			float: right;
			width: 20%;
		}
		.links_product{
			text-align: center;
			font-size: 15px;
			font-weight: bold;
		}
}

.all_show{
	height: auto;
	margin-bottom: 6px;
	vertical-align: top;


		.ps{
			text-align: center;
			display: inline-block;
			width: 100%;
			
			.price{
				margin-bottom: 14px;
				font-size: 15px;
				float: left;
				width: 50%;
				text-align: left;
			}

			.stock{
				margin-bottom: 14px;
				font-size: 15px;
				float: left;
				width: 50%;
				text-align: right;
			}
		}



		.links{
			text-align: center;
		}

		.comments{
			margin-top: 10px;
			padding: 10px;
			margin-bottom: 14px;
			vertical-align: top;
			font-size: 18px;

			.comment{
				padding: 5px;
				margin-top: 15px;
				border-bottom: 1px solid black;
				text-decoration: underline;
			}
		}
}
.forms_edit_new{
	height: auto;
	padding: 15px;
	margin-bottom: 14px;
	vertical-align: top;
}
