.medium-6.columns
  h2
    | Editing Product
  .forms_edit_new
    = render 'form'
  div[align="center"]
    = link_to 'Show', product, class: "hollow tiny button"
    = link_to 'Back', products_path, class: "hollow tiny button"
