<div class="all">
	<div class="medium-6 columns">
		<div class="boundaries"><h1>New Product</h1>

			<div class="callout">
		
				<div class="forms_edit_new">
					<%= render 'form', product: @product %>
				</div>
				<div align="center">
					<%= link_to 'Back', products_path %>
				</div>
			</div>
		</div>
	</div>
</div>
