<div class="all">
	<div class="medium-6 columns">	
		<h2>New product</h2>	
				<div class="forms_edit_new">
					<%= render 'form', product: @product %>
				</div>
				<div align="center">
					<%= link_to 'Back', products_path %>
				</div>
	</div>
</div>
